@font-face
{
    font-family: Norse;
    src: url(../Norse.otf);
}

@font-face
{
    font-family: NorseBold;
    src: url(../Norsebold.otf);
}

body
{
    margin: 0;
    font-family: Norse;
    font-size: 17px;
}

.frame
{
    height: 550px;
    width: 348px;
    padding: 15px;
}

.frame > div
{
    padding-top: 3px;
    text-align: center;
    margin-bottom: 19px;
    width: 350px;
}

.flexbox
{
    display: flex;
    justify-content: space-between;
}

.flexbox div
{
    width: 50%;
}

.none
{
    display: none;
}

.mainDiv
{
    height: 340px;
}

.pointer
{
    cursor: pointer;
}