@font-face
{
    font-family: NorseDownload;
    src: url(../Norse.otf);
}

@font-face
{
    font-family: NorseDownloadBold;
    src: url(../Norsebold.otf);
}

body
{
    background-color: #006;
    color: #a06501;
    margin: 0;
}

.base
{
    max-width: fit-content;
    margin: 10px auto;
}

.main 
{
    display: flex;
    margin: 10px;
}

.menuBlock
{
    margin-right: 20px;
}

.moneyBlock
{
    margin: 60px 6px;
    background-color: #000;
}

.money 
{
    display: flex;
    font-family: NorseDownload;
    font-size: 25px;
    border: 3px solid #a06501;
    border-bottom: none;
}

.money:last-child
{
    border-bottom: 3px solid #a06501;
}

.money div
{
    flex-grow: 1;
    margin: 0 3px;
}

.money div:last-child
{
    text-align: right;
}

#menuButtons div
{
    background-image: url('../img/button.webp');
    background-size: contain;
    padding: 6px 16px;
    width: 184px;
    height: 40px;
    color: black;
    font-family: NorseDownload;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 25px;
    transition: opacity 0.5s linear;
    display: flex;
    align-items: center;
}

#menuButtons div:hover
{
    opacity: 0.7;
}

#menuButtons div p
{
    text-align: center;
    width: 100%;
}

.mainDiv 
{
    border: 2px solid;
    height: 360px;
}

#gameWindow
{
    position: absolute;
}

.user
{
    margin-top: 12px;
    display: flex;
    padding: 6px;
    position: absolute;
}

#avatar
{
    height: 60px;
}

#username
{
    margin: 0 10px;
}