@font-face {
  font-family: Norse;
  src: url(../Norse.otf);
}
@font-face {
  font-family: NorseBold;
  src: url(../Norsebold.otf);
}
.flexbox {
  display: flex;
}
.flexbox.space {
  justify-content: space-between;
}

.none {
  display: none;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.button {
  cursor: pointer;
}

.grey {
  filter: grayscale(1);
}

.bigName {
  background-image: url(img/wstega.webp);
  background-size: cover;
  width: 386px;
  height: 114px;
  margin: 15px auto;
  color: #000;
  text-align: center;
  font-size: 32px;
}
.bigName p {
  margin: 0;
  padding: 13px;
}

.center {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}

.relative {
  position: relative;
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#1b263b, black);
  color: #a06501;
  margin: 0;
  font-family: Norse;
}

select {
  width: 121px;
  height: 23px;
  border-width: 2px;
  border-style: solid;
  border-color: #a06501;
  background-color: #fff;
  background-image: url(img/arrow.webp);
  background-size: cover;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input {
  width: 117px;
  height: 19px;
  border-width: 2px;
  border-style: solid;
  border-color: #a06501;
  background-color: #fff;
  padding: 0;
  margin: 10px 0;
}

sup {
  display: block;
  margin: -10px 0;
}

.base {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 10px auto;
}

.main {
  margin: 10px;
}

.menuBlock {
  margin-right: 20px;
  width: -moz-min-content;
  width: min-content;
}

.mainDiv {
  border-style: solid;
  border-width: 30px;
  -o-border-image: url(img/border.webp) 30/30px round;
     border-image: url(img/border.webp) 30/30px round;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}

.userBox {
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}

.user {
  margin-top: 12px;
  padding: 6px;
}

#avatar {
  height: 60px;
}

#username {
  margin: 0 10px;
  text-align: center;
  overflow-wrap: anywhere;
  font-size: 16px;
}

.settingsBlock div {
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
}
.settingsBlock div:hover {
  background-color: #330;
}
.settingsBlock .settings {
  background-image: url("img/optionsgear.webp");
}
.settingsBlock .post {
  background-image: url("img/post_pigeon.webp");
}

.moneyBlock {
  margin: 20px 6px;
  background-color: #000;
}

.money {
  font-size: 25px;
  border-width: 3px;
  border-style: solid;
  border-bottom-style: none;
}
.money:last-child {
  border-bottom-style: solid;
}
.money div {
  margin: 0 3px;
}

.listButton {
  background-image: url("../img/button.webp");
  padding: 6px 16px;
  width: 184px;
  height: 40px;
  color: #000;
  font-size: 25px;
}
.listButton:hover {
  opacity: 0.7;
  font-family: NorseBold;
}
.listButton p {
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 6px 0;
}
.listButton p:hover {
  direction: rtl;
}

.character {
  position: absolute;
  top: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 288px;
  width: 124px;
}
.character.left {
  left: 60px;
}
.character.right {
  right: 60px;
}
.character.femBreeder {
  background-image: url(img/dragon_guardian_female.webp);
}
.character.maleBreeder {
  background-image: url(img/dragon_guardian_male.webp);
}

.dialogueBox {
  width: 100%;
  padding: 10px 30px;
  z-index: 1;
  font-family: Sylfaen;
}
.dialogueBox .nameBox {
  border-style: solid;
  border-width: 2px;
  margin: 3px;
  width: -moz-max-content;
  width: max-content;
  background-color: #000;
  padding: 0px 3px 5px 3px;
  font-size: 16px;
}
.dialogueBox .textBox {
  height: 190px;
  background-color: rgba(10, 10, 50, 0.8);
  border-style: solid;
  border-width: 5px;
  padding: 5px;
  font-size: 19px;
  position: relative;
}
.dialogueBox .textBox .buttonDragon {
  width: 140px;
  height: 140px;
  border: none;
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background-size: cover;
  font-weight: bold;
}
.dialogueBox .textBox .buttonDragon:hover {
  color: #fff;
}
.dialogueBox .textBox button {
  color: #a06501;
}
.dialogueBox .textBox button:hover {
  background-color: rgba(255, 213, 0, 0.4);
  color: #000;
}
.dialogueBox .textBox .formDiv {
  align-self: center;
  text-align: center;
  margin-left: 15px;
}

.buttonOk {
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 6px;
  margin: 10px 0;
  font-size: 16px;
  min-width: -moz-max-content;
  min-width: max-content;
}

.buttonNext {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
}

.placesContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
  justify-content: center;
}

.place {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  height: 24px;
  margin: 3px;
  padding: 7px 0;
  background-image: url(img/buttonBorder.webp);
}
.place:hover {
  background-color: #123;
  font-family: NorseBold;
}
.place .dragon {
  padding: 2px 13px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
.place .dragon:last-child {
  font-size: 15px;
}

.dragonInfo {
  margin: auto;
  height: 230px;
}
.dragonInfo .dragonImage {
  height: 150px;
  width: 150px;
  margin: auto;
}
.dragonInfo p {
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.dragonStats {
  border-spacing: 0;
  margin: auto;
}
.dragonStats tr:first-child td {
  text-align: left;
  border-top: 1px solid #a06501;
}
.dragonStats tr:first-child td:first-child {
  border-left-style: none;
  border-top-style: none;
}
.dragonStats td {
  color: white;
  font-family: Norse;
  border-bottom: 1px solid #a06501;
  padding: 2px 4px;
  text-align: center;
}
.dragonStats td:first-child {
  text-align: left;
  border-left: 1px solid #a06501;
  border-right: 1px solid #a06501;
}
.dragonStats td:last-child {
  border-right: 1px solid #a06501;
}

.itemsStorage {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}
.itemsStorage .item {
  width: 65px;
  height: 65px;
  border-style: solid;
  border-width: 4px;
  margin-top: 4px;
  margin-right: 4px;
  border-radius: 65px;
  background-color: #003;
  display: flex;
  align-items: end;
  background-size: auto 48.75px;
}
.itemsStorage span {
  text-align: center;
  width: 100%;
  display: block;
}

.optionsList {
  position: absolute;
}
.optionsList .option {
  background-color: #000;
  border-width: 1px;
  border-style: solid;
  width: 70px;
  text-align: center;
}
.optionsList .option .item.suboption {
  justify-content: space-between;
  padding: 2px 4px;
}
.optionsList .option .item.suboption:hover {
  background-color: #030;
  cursor: pointer;
}
.optionsList .option .item img {
  height: 15px;
}

.arrow {
  width: 70px;
  height: 70px;
  align-self: center;
  margin: 5px;
  cursor: pointer;
  background-image: url(img/strzalka.webp);
}
.arrow.left {
  transform: scaleX(-1);
}

.buildingImage {
  height: 250px;
  flex-grow: 1;
}

.positionText {
  color: #000;
}

.wildObject {
  position: absolute;
  cursor: pointer;
}

.travelImage {
  width: 500px;
  height: 500px;
  margin: auto;
}

.sunwatch {
  width: 290px;
  height: 240px;
  background-image: url(img/full_blue.webp);
  cursor: pointer;
}
.sunwatch div {
  text-align: center;
  margin-top: 190px;
  color: #fff;
}

.travelForm {
  flex-grow: 1;
  text-align: center;
}

.categoryContainer {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.categoryContainer .category {
  border-style: solid;
  border-width: 1px;
  border-left-style: none;
  padding: 5px 10px;
  cursor: pointer;
}
.categoryContainer .category:hover {
  background-color: #030;
}
.categoryContainer .category:first-child {
  border-left-style: solid;
}

.optionsDiv {
  padding: 5px 10px;
}

.alert {
  text-align: center;
  margin: 3px auto;
  padding: 7px;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
}

.testDiv {
  margin-left: 10px;
}
.testDiv p {
  text-align: center;
}

.testTable {
  text-align: center;
  background-color: #a06501;
}
.testTable tr {
  background-color: black;
}
.testTable tr:hover {
  background-color: #030;
}
.testTable td {
  border: 1px solid;
  max-width: 200px;
  font-family: Sylfaen;
}/*# sourceMappingURL=style.css.map */