body
{
    background-color: black;
    color: #fed973;
    margin: 0;
}

.blood
{
    margin: -10px 0 -50px 0;
    position: relative;
}

.blood img
{
    width: 150px;
    position: absolute;
    left: 180px;
    top: -25px;
}

.regDiv
{
    width: 650px;
    height: 525px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row
{
    display: flex;
    height: 75px;
}

.cell
{
    margin: 5px;
}

.diamond
{
    background-image: url('img/Perfect_Stone.webp');
    background-size: cover;
    width: 52px;
}

.main
{
    width: 538px;
    align-self: center;
    text-align: center;
}

.main form *
{
    margin: 7px 0;
}

.row.center 
{
    height: 375px;
}

.horizontal
{
    width: 85%;
    background-image: url('img/frame_v.webp');
    background-repeat: repeat-x;
    background-position-y: center;
    background-size: auto 12px;
}

.verticaly
{
    width: 56px;
    background-image: url('img/frame_h.webp');
    background-repeat: repeat-y;
    background-position-x: center;
    background-size: 12px auto;
}

input 
{
    background-color: #333;
    border: 0;
    color: #fff;
    text-align: center;
    width: 200px;
}

.register
{
    border: 0;
    padding: 0;
    background-image: url("img/knife.webp");
    width: 200px;
    height: 60px;
    background-size: cover;
    background-color: black;
    cursor: pointer;
}

.register:hover
{
    background-color: #1a1a1a;
}

.register:active
{
    background-image: url("img/blooded_knife.webp");
}

.error 
{
    color: red;
}

@font-face
{
    font-family: NorseDownload;
    src: url(Norse.otf);
}

@font-face
{
    font-family: NorseDownloadBold;
    src: url(Norsebold.otf);
}

.background
{
    background-image: url('img/background.webp');
    background-size: contain;
    height: 98vh;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: blue;
    background-position-x: right;
    padding: 5px;
}

.linkButtons
{
    display: flex;
    margin-top: 10px;
}

.linkButtons div
{
    margin-right: 13px;
    background-image: url('img/button.webp');
    background-size: contain;
    padding: 12px 48px;
    color: black;
    font-family: NorseDownload;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 26px;
    transition: opacity 1s ease;
}

.linkButtons div:hover
{
    opacity: 0.8;
}