.placesContainer
{
    display: flex;
    flex-wrap: wrap;
    margin: $places-container-margin;
    justify-content: center;
    
}

.place
{
    text-align: center;
    font-size: $place-font-size;
    cursor: pointer;
    width: $place-width;
    height: $place-height;
    margin: $place-margin;
    padding: $place-padding;
    background-image: $button-background;

    &:hover
    {
        background-color: $place-background-hover;
        font-family: NorseBold;
    }

    .dragon
    {
        padding: $dragon-padding;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;

        &:last-child
        {
            font-size: $dragon-font-size;
        }
    }

}
.dragonInfo
{
    margin: auto;
    height: $dragon-info-height;
    
    .dragonImage
    {
        height: $dragon-image-size;
        width: $dragon-image-size;
        margin: auto;
    }

    p
    {
        text-align: center;
        font-size: $dragon-info-font-size;
        margin: $dragon-info-margin;
    }
}

.dragonStats
{
    border-spacing: 0;
    margin: auto;
     
    tr:first-child
    {
        td
        {
            // color: $main-text-color;
            text-align: left;
            border-top: $dragon-stats-border;

            &:first-child
            {
                border-left-style: none;
                border-top-style: none;
            }
        }
    }
    
    td
    {
        color: white;
        font-family: Norse;
        border-bottom: $dragon-stats-border;
        padding: $dragon-stats-padding;
        text-align: center;
        
        &:first-child
        {
            // color: $main-text-color;
            text-align: left;
            border-left: $dragon-stats-border;
            border-right: $dragon-stats-border;
        }

        &:last-child
        {
            border-right: $dragon-stats-border;
        }
    }
}
