$main-text-color: #a06501;
$moneyBlock-background: #000;
$inputs-background-color: #fff;
$main-button-text-color: #000;
$settingsblock-div-hover: #330;
$bigname-text-color: #000;
$place-background-hover: #123;
$option-background: #000;
$option-bgcolor: #030;
$item-background: #003;
$position-text: #000;
$dialog-name-background: #000;
$dialog-text-background: #0a0a32cc;
$dialog-buttonok-background: #0006;
$dialog-buttondragon-background: #0000;
$dialog-buttondragon-text: #fff;
$dialog-button-background-hover: #ffd50066;
$dialog-button-text: #000;
$settings-category-background-hover: #030;
$alert-text-color: #fff;
$dragon-stats-border-color: #504;