$body-background: linear-gradient(#1b263b, black);
$select-background: url(img/arrow.webp);
$settings-background: url('img/optionsgear.webp');
$main-button-background: url('../img/button.webp');
$gameWindow-parent-border-image: url(img/border.webp) 30/ 30px round;
$bigname-background: url(img/wstega.webp);
$button-background: url(img/buttonBorder.webp);
$arrow-background: url(img/strzalka.webp);
$dragon-guardian-f: url(img/dragon_guardian_female.webp);
$dragon-breeder-m: url(img/dragon_guardian_male.webp);