// inputs
$select-width: 121px;
$select-height: 23px;
$inputs-border-width: 2px;
$input-width: 117px;
$input-height: 19px;
$input-margin: 10px 0;

// base
$base-margin: 10px auto;
$main-margin: 10px;
$menuBlock-margin: 20px;
$user-margin: 12px;
$user-padding: 6px;
$user-font-size: 16px;
$avatar-height: 60px;
$username-margin: 0 10px;
$settingsblock-div-width: 50px;
$settingsblock-div-height: 30px;
$settingsblock-div-margin: 5px;

//money
$moneyBlock-margin: 20px 6px;
$money-font-size: 25px;
$money-border-size: 3px;
$money-elements-margin: 0 3px;

//buttons
$main-button-padding: 6px 16px;
$main-button-width: 184px;
$main-button-height: 40px;
$main-button-font-size: 25px;
$main-button-p-margin: 6px 0;

//mainblock
$gameWindow-parent-border-size: 30px;

//bigname
$bigname-width: 386px;
$bigname-height: 114px;
$bigname-margin: 15px auto;
$bigname-font-size: 32px;
$bigname-padding: 13px;

//places
$places-container-margin: 6px;
$place-font-size: 20px;
$place-margin: 3px;
$place-padding: 7px 0;
$place-width: 150px;
$place-height: 24px;

//windows
$dragon-padding: 2px 13px;
$dragon-font-size: 15px;
$dragon-image-size: 150px;
$dragon-info-font-size: 20px;
$dragon-info-margin: 5px;
$dragon-stats-padding: 2px 4px;

$itemStorage-padding: 5px;
$item-size: 65px;
$item-border-size: 4px;
$item-margin: 4px;
$option-margin: 1px;
$option-width: 70px;
$suboption-padding: 2px 4px;
$item-img-height: 15px;

$arrow-size: 70px;
$arrow-margin: 5px;
$building-image-height: 250px;

$character-top: 200px;
$character-height: 288px;
$character-width: 124px;
$character-position-x: 60px;
$dialogBox-width: 100%;
$dialogBox-padding: 10px 30px;
$dialog-name-border: 2px;
$dialog-name-margin: 3px;
$dialog-name-padding: 0px 3px 5px 3px;
$dialog-name-font-size: 16px;
$dialog-text-width: 190px;
$dialog-text-border: 5px;
$dialog-text-padding: 5px;
$dialog-text-font-size: 19px;
$dialog-buttonok-border: 2px;
$dialog-buttonok-padding: 2px 6px;
$dialog-buttonok-margin: 10px 0;
$dialog-buttonok-font-size: 16px;
$dialog-buttonnext-position: 5px;
$dialog-buttondragon-size: 140px;
$dialog-buttondragon-margin: 4px;
$dialog-formdiv-margin: 15px;

$settings-category-border: 1px;
$settings-padding: 5px 10px;

$sup-margin: -10px 0;
$alert-margin: 3px auto;
$alert-padding: 7px;